@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}
:root{
    --background-clr: #e4ebfa;
    --primary-clr: #000112;
    --secondary-clr: #fff;
    --third-clr: #828fa3;
    --accent-clr: #635fc7;
}
body{
    background-color: var(--background-clr);
}
/* styles for the side bar */
.side-bar{
    display: none;
}

/* Main Layout header section */
.main-header{
    background-color: var(--secondary-clr);
    display: flex;
    align-items: center;
    gap: 16px;
    height: 64px;    
    padding-left: 16px;
}
.main-header img{ 
    width: 24px;
    height: 25px;

}
.main-header h2{
    font-size: 18px;
    font-weight: 700;
}

/* cards container */
.cards-container{
    width: 90%;
    max-width: 1200px;
    margin: 32px auto;
}
.cards{
    margin-bottom: 30px;
 }

 /* the TODO, DOING and DONE heading styles */
.task-heading{
    display: flex;  
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}
.task-heading span{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}
.task-heading h4{
    color: var(--third-clr);
    font-size: 12px;
    font-weight: 700;
}

/* the color styles for the TODO, DOING and DONE heading styles */
.todo-clr{
    background-color: #49c4e5;
}
.doing-clr{
    background-color: #8471f2;
}
.done-clr{
    background-color: #67e2ae;
}

/* the cards styles */
 .task-card{
    background-color: var(--secondary-clr);
    height: 60px;
    padding: 19px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
 }
 .task-card:hover {
    transform: translateY(-5px);
    background-color:var(--accent-clr);
    color: var(--secondary-clr);
    box-shadow: 0 4px 12px rgba(15, 15, 15, 0.6);
}

