@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}
:root{
    --background-clr: #e4ebfa;
    --primary-clr: #000112;
    --secondary-clr: #fff;
    --third-clr: #828fa3;
    --accent-clr: #635fc7;
}
body{
    background-color: var(--background-clr);
}
/* styles for the side bar */
.side-bar{
    display: none;
}

/* Main Layout header section */
.main-header{
    background-color: var(--secondary-clr);
    display: flex;
    align-items: center;
    gap: 16px;
    height: 64px;    
    padding-left: 16px;
}
.main-header img{ 
    width: 24px;
    height: 25px;

}
.main-header h2{
    font-size: 18px;
    font-weight: 700;
}